@import "../Shared/less/lesshat-prefixed.less";

@green : #50ae47;
body, html {
  padding: 20px;
  margin: 0;
  font-family: Segoe UI;
  background: #3e3e3e;
  color: rgb(255,255,255);
}

/* ANIMATED CHECKBOX */

//.lh-keyframes(~'animCheckBoxChecked, 0%{transform: rotate3d(1, 1, 0, 0); } 100%{ transform: rotate3d(1, 1, 0, 180deg); background: url(\'img/checked.svg\') center center no-repeat; }');
@-webkit-keyframes animCheckBoxChecked{
  0%{
    -webkit-transform: rotate3d(1, 1, 0, 0);
    border: 1px solid rgba(255,255,255,0.5);
    background:transparent;
  }
  50%{
    -webkit-transform: rotate3d(1, 1, 0, 90deg);
    border: 1px solid rgba(255,255,255,0.5);
    background:transparent;
  }
  100%{
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    background: @green url('img/checked.svg') center center no-repeat;
    .lh-background-size(12px 12px);

  }
}

.checkbox {
  margin: 20px auto;
  position: relative;
  min-height: 24px;

}

.checkbox input {
  visibility: hidden;
}

.checkbox label {
  display: inline-block;
  cursor: pointer;
  padding:0 0 0 40px;
  min-height: 24px;
  //background: red;
  line-height: 24px;
  margin: 0 0 0 -24px;

}

.checkbox label:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255,255,255,0.5);
  .lh-box-sizing(border-box);
  top: 0px;
  left: 0px;
}

.checkbox label:hover::after {
  background-color: fade(@green, 20%);
}

.checkbox input[type=checkbox]:checked + label:after {
  //background: @green url('img/checked.svg') center center no-repeat;
  border-width: 0px;
  .lh-animation-name(animCheckBoxChecked);
  .lh-animation-duration(1s);
  .lh-animation-fill-mode(forwards);
}
