body,
html {
  padding: 20px;
  margin: 0;
  font-family: Segoe UI;
  background: #3e3e3e;
  color: #ffffff;
}
/* ANIMATED CHECKBOX */
@-webkit-keyframes animCheckBoxChecked {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 90deg);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    background: #50ae47 url('img/checked.svg') center center no-repeat;
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    background-size: 12px 12px;
  }
}
.checkbox {
  margin: 20px auto;
  position: relative;
  min-height: 24px;
}
.checkbox input {
  visibility: hidden;
}
.checkbox label {
  display: inline-block;
  cursor: pointer;
  padding: 0 0 0 40px;
  min-height: 24px;
  line-height: 24px;
  margin: 0 0 0 -24px;
}
.checkbox label:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
}
.checkbox label:hover::after {
  background-color: rgba(80, 174, 71, 0.2);
}
.checkbox input[type=checkbox]:checked + label:after {
  border-width: 0px;
  -webkit-animation-name: animCheckBoxChecked;
  -moz-animation-name: animCheckBoxChecked;
  -o-animation-name: animCheckBoxChecked;
  animation-name: animCheckBoxChecked;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
